<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center ">
        <div class="col-3 justify-content-center shadow-lg p-3 mb-5 bg-white rounded">
            <h1>Highscores</h1>
            <hr>
            <ol id="score-list">
            </ol>
            <hr>
            <button type="button" class="btn hsbutton"><a href="/">Main Menu</a></button>
            <button type="button" class="btn hsbutton">Play Again</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/highscores.js"></script>
