form.signup {
  color: white;
}

form.login {
  margin-top: 0px;
  color: white
 
}

h2 {
  color:#ed47ee
}
p {
  color:  #ed47ee;
}
.black {
  color: white;
}

.test {
  margin-left: 15rem;
  margin-top: 5.5rem;
}

body {
  background-image: url(../images/triviabackground.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
