body {
    background-image: url(../images/trivia-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hsbutton {
    background-color: #f8af0b;
}
